[submodule "android/spindance.code-challenge.mobile.android.weather-sensor-service"]
	path = android/spindance.code-challenge.mobile.android.weather-sensor-service
	url = https://github.com/spindance/spindance.code-challenge.mobile.android.weather-sensor-service.git
[submodule "ios/spindance.code-challenge.mobile.ios.weather-sensor-service-package"]
	path = ios/spindance.code-challenge.mobile.ios.weather-sensor-service-package
	url = https://github.com/spindance/spindance.code-challenge.mobile.ios.weather-sensor-service-package.git
